* {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.buttons button {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    background-color: black;
    color: orange;
    border: solid 4px purple;
}

.texts {
    font-size: 30px;
    font-weight: 800;
}